/* only for small devices like mobile  */
@media screen and (max-width:576px) {
    header ,main ,footer{
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .nav-ber{
        flex-direction: column;
    }
    ul li{
        margin-left: 5px;
    }
    .header-banner{
        width: 100%;
        height: auto;
    }
    .banner-title{
        font-size: 1rem;
    }
    .banner-discription{
        font-size: 0.68rem;
        line-height: 1rem;
    }
    .banner-text{
        padding-top: 40px;
        width: 80%;
    }
    .banner-search{
        width: 80%;
        padding: 0.5rem;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .Where input {
        width: 85%;
        height: 3.25rem;
        margin-bottom: 5px;
        
    }
    .Where select{
        width: 90%;
        height: 3.25rem;
        margin-bottom: 5px;
    }
    .Where button{
        width: 90%;
        height: 3.25rem;
        margin-bottom: 5px;
    }
    .popular {
        flex-direction: column;
    }
    .popular-text{
        width: 100%;
    }
    .popular-img{
        width: 100%;
    }
    .common-pragraph{
        font-size: 0.88rem;
        line-height: 1.5rem; 
    }
    .common-heading{
        font-size: 1.25rem;
    }
    .brn-primery{
        width: 10.88rem;
        height: 3.25rem;
        font-size: 1.25rem;
    }
    .img-gellery{
        grid-template-columns: 1fr;
    }
    .img-1{
        grid-column: 1;
    }
    .img-2{
        grid-column: 1;
    }
    .img-3{
        grid-column: 1;
    }
    .img-4{
        grid-column: 1;
    }
    .img-5{
        grid-column: 1;
    }
    .img-6{
        grid-column: 1;
    }
    .img-7{
        grid-column: 1;
    }
    .middle-text{
        font-size: 1.25rem;
    }
    .chose-container{
        flex-direction: column;
    }
    .chose-sub{
        width: 90%;
    }
    #chose-sub1{
        width: 90%;
    }
    .discount-item-style{
        width: 80%;
        height: 25.5rem;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2.5px);
        margin-left: 10%;
        border: 1px solid red;
    }
    .perfect-place-container{
        flex-direction: column;
    }
    .perfect-place-text{
        width: 100%;
    }
    .perfect-place-img{
        width: 100%;
    }
    .review{
        flex-direction: column;
    }
    .customer-1{
        flex: 1;
    }
    .customer-2{
        flex: 1;
    }
    .newsletter{
        flex-direction: column;
    }
    .news-text{
        width: 100%;
    }
    .news-img{
        width: 100%;
    }
    .offer-title{
        font-size: 1.32rem;
    }
    .offer-dis{
        font-size: 0.94rem;
    }
    .offer{
        width: 50%;
        height: 5rem;
        bottom: 15%;
        left: 49%;
    }
    .footer-section{
        margin: 30px auto;
    }
    
    
}